@media (min-width: 320px) {
    .header {
        width: 100%;

        &-mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 95%;
            margin: auto;
            position: relative;

            &__box {
                position: fixed;
                background: $w;
                margin: 0;
                padding: 0;
                top: 0;
                left: 0;
                box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);
                width: 100%;
                height: 45px;
                z-index: 3;
                transition: 0.5s;

                &.hide {
                    box-shadow: none;
                }

                &--logo {
                    z-index: 2;
                    position: fixed;
                    top: -8px;
                }

                &--burger {
                    display: block;
                    position: fixed;
                    top: 13px;
                    right: 20px;
                    width: 34px;
                    height: 20px;
                    z-index: 4;
                }
        
                &--burger span {
                    position: absolute;
                    background-color: #333333;
                    right: 0;
                    width: 50%;
                    height: 3px;
                    top: 9px;
                    transition: 0.5s;
                    border-radius: 20px;
                }
        
                &--burger {
                    &.active {
                        &>span {
                            transform: scale(0);
                        }
                    }
                }
        
                &--burger::before {
                    content: '';
                    background-color: #333333;
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    left: 0;
                    transition: 0.5s;
                    border-radius: 20px;
                }
        
                &--burger::after {
                    content: '';
                    background-color: #333333;
                    position: absolute;
                    width: 80%;
                    height: 3px;
                    right: 0;
                    transition: 0.5s;
                    border-radius: 20px;
                }
        
                &--burger::before {
                    top: 0;
                }
        
                &--burger::after {
                    bottom: 0;
                }
        
                &--burger {
                    &.active::before {
                        transform: rotate(45deg);
                        top: 9px;
                    }
                    &.active::after {
                        transform: rotate(-45deg);
                        bottom: 8px;
                        width: 100%;
                    }
                }
    
                &--menu {
                    position: fixed;
                    left: -100%;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #FFFFFF;
                    transition: 0.3s;
    
                    &__list {
                        display: block;
                        position: fixed;
                        z-index: 2;
                        margin: 60px 0px 0px 0px;
                        overflow: auto;
                        text-align: center;
    
                        &>li {
                            margin: 60px 0px 0px 0px;

                            &>a {
                                font-size: 30px;
                                color: $b;
                                -moz-transition: width 0.3s ease-out;
                                -o-transition: width 0.3s ease-out;
                                -webkit-transition: width 0.3s ease-out;
                            }

                            &>a:hover:after,
                              a:focus:after {
                                width: 100%;
                            }
                        }
    
                        &.out {
                            visibility: hidden;
                        }
                    }
    
                    &.active {
                        left: 0;
                    }
                }
            }
        }

        &-desktop {
            display: none;
        }

        @media (min-width: 768px) {
            &-mobile {
                display: none;
            }

            &-desktop {
                display: block;
                width: 100%;
                background: $w;
                box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);

                &-container {
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    margin: auto;

                    &__logo {
                        height: 60px;
                    }

                    &__menu {
                        display: flex;
                        width: 500px;
                        justify-content: space-between;
                        align-items: center;
                        

                        &--item {
                            &>a {
                                position: relative;
                                line-height: 20px;
                                color: $b;
                            }

                            &>a:after {
                                display: block;
                                position: absolute;
                                left: 0;
                                width: 0;
                                height: 2px;
                                background-color: $m-color;
                                content: "";
                                -moz-transition: width 0.3s ease-out;
                                -o-transition: width 0.3s ease-out;
                                -webkit-transition: width 0.3s ease-out;

                            }

                            &>a:hover:after,
                              a:focus:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}